/backend-rails/log/*
/backend-rails/tmp/*
/backend-rails/.bundle
/backend-rails/vendor/bundle
/backend-rails/storage/*
/backend-rails/node_modules
/backend-rails/.env

/frontend-react/node_modules
/frontend-react/build
/frontend-react/.env

.DS_Store
.env
