body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #fafbfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #f9fafb;
  --text: #111827;
  --surface: #ffffff;
  --border: #d6d9de;

  --brand: #3b82f6;
  --brand-weak: #e8f1ff;

  --sidebar-w: 260px;
  --sidebar-w-mini: 40px;
}

.button-primary {
  background: var(--brand);
  color: white;
}

.button-error {
  background: #FF2929;
  color: white;
}
